/*@charset "UTF-8";

body{
	width:100%;
}

.title{
	text-align: center;
}

.menu{
	border: 1px black;
	border-style: solid;
}

.add_button{
     background-color: red;
     border: none; 
     color: white; 
     padding: 10px; 
     text-align: center; 
     text-decoration: none; 
     display: inline-block; 
     font-size: 70px; 
     margin: 4px 2px; 
     cursor: pointer; 
}*/